frontend/

backend/

database.db
_.db
_.sqlite
\*.sqlite3

node_modules/
.git/
.vscode/
.idea/
_.log
_.cache

_.tmp
_.temp
.DS_Store
Thumbs.db

build/
dist/
_.apk
_.aab
\*.ipa

.env.local
.env.\*.local

docs/
tests/
