@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  @media (max-width: 1440px) and (min-width: 1200px) {
    html {
      font-size: 85%;
    }
  }
}

:root, .dark {
  --background: hsl(215 28% 17%);
  --foreground: hsl(210 17% 97%);
  --card: hsl(215 28% 22%);
  --card-foreground: hsl(210 16.6667% 97.6471%);
  --popover: hsl(215 27.907% 16.8627%);
  --popover-foreground: hsl(210 16.6667% 97.6471%);
  --primary: hsl(217.2193 91.2195% 59.8039%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(216.9231 19.1176% 26.6667%);
  --secondary-foreground: hsl(210 16.6667% 97.6471%);
  --muted: oklch(21% 0.034 264.665);
  --muted-foreground: hsl(210 12% 80%);
  --accent: hsla(0, 0%, 0%, 0.5);
  --accent-foreground: hsl(210 16.6667% 97.6471%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(216.9231 19.1176% 26.6667%);
  --input: hsl(215 13.7931% 34.1176%);
  --ring: hsl(217.2193 91.2195% 59.8039%);
  --chart-1: hsl(217.2193 91.2195% 59.8039%);
  --chart-2: hsl(220 8.9362% 46.0784%);
  --chart-3: hsl(142.0859 70.5628% 45.2941%);
  --chart-4: hsl(37.6923 92.126% 50.1961%);
  --chart-5: hsl(198.6301 88.664% 48.4314%);
  --sidebar: hsl(215 27.907% 16.8627%);
  --sidebar-foreground: hsl(210 16.6667% 97.6471%);
  --sidebar-primary: hsl(217.2193 91.2195% 59.8039%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-accent-foreground: hsl(210 16.6667% 97.6471%);
  --sidebar-border: hsl(216.9231 19.1176% 26.6667%);
  --sidebar-ring: hsl(217.2193 91.2195% 59.8039%);
  --font-sans: Poppins;
  --radius: 0.75rem;
  --glass-bg: hsl(215 28% 20% / 0.5);
  --glass-border: hsl(210 17% 97% / 0.1);
  --shadow-2xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
    0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
    0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
    0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
    0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
    0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.63);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.light {
  --background: hsl(220 15% 88%);
  --foreground: hsl(220 25% 12%);
  --card: hsl(0 0% 94%);
  --card-foreground: hsl(220 25% 15%);
  --popover: hsl(0 0% 94%);
  --popover-foreground: hsl(220 25% 15%);
  --primary: hsl(220 70% 50%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(220 12% 75%);
  --secondary-foreground: hsl(220 20% 15%);
  --muted: hsl(220 10% 80%);
  --muted-foreground: hsl(0, 0%, 0%);
  --accent: hsla(218, 29%, 15%, 0.555);
  --accent-foreground: hsl(0, 0%, 0%);
  --destructive: hsl(0 65% 50%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(220 10% 65%);
  --input: hsl(220 10% 75%);
  --ring: hsl(220 70% 50%);
  --sidebar: hsl(220 12% 82%);
  --sidebar-foreground: hsl(220 20% 15%);
  --sidebar-primary: hsl(220 70% 50%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(220 12% 72%);
  --sidebar-accent-foreground: hsl(220 20% 15%);
  --sidebar-border: hsl(220 10% 65%);
  --sidebar-ring: hsl(220 70% 50%);
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 3px 6px 0px hsl(0 0% 0% / 0.15);
  --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.22);
  --shadow-lg: 0px 8px 14px 0px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 10px 18px 0px hsl(0 0% 0% / 0.28);
  --shadow-2xl: 0px 14px 24px 0px hsl(0 0% 0% / 0.35);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}